/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2022, 6:28:50 PM
    Author     : Aurelio
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



*{
    margin:0;
    padding: 0;
}

body{
    background: url(../images/Cahuita.jpg);
    overflow: hidden;
    height: 100vh;
    
}

.title{
    color: white;
    font-family: Roboto;
}

.label{
    color: red;
}

.center{
    position:absolute;
    top:50%;
    left: 50%;
    width: 400px;
    background: transparent;
    transform: translate(-50%,-50%); 
    border-radius: 10px; /*sombreado*/
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
/*lineas y borde de la caja donde estara la info*/
form .txt_field{
    position: relative;
    margin: 30px 0; /*lineas abajo*/
    text-align: center;
}

/*modificar el input*/
 .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    background: none;
    border: 3px solid white;
    color: white;
    text-align: center;
}

.txt_field label{
    top: 50%;
    left: 5px;
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-size: 20px;
}

.pass{
    margin: -5px 0 20px 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: Roboto;
    text-decoration: underline;
    font-size: 20px;
}

.pass:hover{
    color:#bbb8b8;
    font-size: 21px;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    background: green;
    border-radius: 25px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    background: green;
    transition: .5s;   
}

.sigup{
    margin: 30px 0;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    color: #ffffff;
}
.sigup a{
    color: white;
    
}
.sigup a:hover{
    text-decoration: underline;
    font-size: 25px;
}

.txt_field span::before{
    content:'';
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}


.txt_field input:focus~label,
.txt_field input:valid~label{
    top:-20px;
    color: #ffffff;
    font-size: 20px;
    
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before{
 width: 100%;
    
}