<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-4">
            <a th:href="@{/nuevo}" class="btn btn-primary">Nuevo Evento</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Evento</th>
                        <th>Artista</th>
                        <th>Costo</th>
                        <th>Fecha</th>
                        <th>Capacidad</th>
                        <th>Lugar</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="evento:${eventos}">
                        <th th:text="${evento.id_evento}"></th>
                        <th th:text="${evento.artista}"></th>
                        <th th:text="${evento.capacidad}"></th>
                        <th th:text="${evento.costo}"></th>
                        <th th:text="${evento.fecha}"></th>
                        <th th:text="${evento.lugar}"></th>
                        <th>
                            <a class="btn btn-danger" href="#">Eliminar</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
